.square{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: crimson;
}

.round-1{
    position: absolute;
    top:0;
    left: 25px;
    border-radius: 40px;
    height: 50px;
    width: 50px;
    background-color: crimson;
}
.round-2{
    position: absolute;
    top: 25px;
    left: 0px;
    position: absolute;
    border-radius: 40px;
    height: 50px;
    width: 50px;
    background-color: crimson;

}

.heart-container{
    position: relative;
    width: 100px;
    height: 100px;
    top: 300px;
    left: 500px;
    transform: rotateZ(180deg);
    animation: heartbit 1s infinite;
}

@keyframes heartbit {
    0% {transform: scale(1);}
    50% {
        transform: scale(1.2);
    }
    100%{transform: scale(1);}
}

